@import '../../assets/GlobalCss/global.scss';

.main-wrapper {    
    padding: $p20;
    width: 100%;
    height: auto;
    display: $flex;
    flex-direction: $direction-row;
    flex-wrap: $wrap;  
    align-items: center;
    justify-content: space-evenly;  

    @media (max-width:414px) {
        flex-direction: $direction-col
    }
}

.info {
    font-size: 16px;
    display: inline-block;
    padding: $p10 40px;
    color: #044b14;
    margin: $m10 0;
}
