@import '../../assets/GlobalCss/global.scss';

.catHome {
    background-repeat: $background-repeat-none;      
    background-size: 100%;
    background-position-y: bottom;    
    height: 143px;    
    cursor: $pointer;
    border: $border-zero;
    padding: 0 $p20;
    margin: $m20; 
    
    @media (min-width:1024px) {
             
        background-size: 56%;
        height: 104px;
        width: 100px;         
        margin: 5px $m10;
        background-position: $pos-center;   
    
    }
}

.reset-btn {
    margin-top: $m20;
    padding: $p10 $p20;
    background: $serene-white;
    border: 2px solid #690e63;
    border-radius: 10px;
    cursor: $pointer;
    outline: $border-zero;
}