@import '../../../assets/GlobalCss/global.scss';

.cat-row {
    display:$flex;
    flex-direction: $direction-row; 
    flex-wrap: $wrap;  
}

.disabledCatRoom {
    pointer-events: none;
    opacity: 0.2;
}